/* Flex Container */
body {
	font-family: monospace;
	color: #333;
	margin: 0px;
}
nav li{
	list-style: none;
	display: inline-block;
	background-color: floralwhite;
	padding: 8px;
	margin-left: 14px;
}
nav ul{
	margin-right: 70px;
}
nav{
	display: flex;
	align-items: center;
	background-color: black;
	height: 80px;
	justify-content: space-between;
}
.title-1{
	font-size: 15px;
	margin-left: 20px;
	font-weight: 700;
	padding: 8px;
	background-color: floralwhite;
}	
.container {
	align-content: flex-end;
	max-width: 420px;
	height: 300px;
	margin: 50px auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
}
.item{
	min-height: 70px;
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}
.button{
	padding: 10px;
	border: 2px solid black;
	border-radius: 2px;
}
#area{
	height: 600px;
	justify-content: center;
	align-items: flex-start;
	display: flex;
}